$c-page: #fafafa;
$c-accent: #eb6459;
$c-border: #d9d9d9;
$c-text: #323232;
$c-menu-link-hover: #6c6c6c;
$c-yandex: #fda702;
$c-google: #3e73b6;
$c-about: #41204f;
$c-text-footer: #858585;
$c-accent-development: #ddcd63;